<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>テストWebアプリ</title>
    <!-- <link rel="stylesheet" href="{% static "css/style.css" %}> -->
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div>
        {% if id %}
        <h2>画像が登録されました</h2>
        <p>画像のIDは {{ id }} です</p>
        {% endif %}
    </div>
    <div>
        <h2>画像を登録する</h2>
        <form action="{% url 'webtestapp:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ upload_form.as_p }}</p>
            <p><input type="submit" value="アップロード"></p>
        </form>
    </div>
  </body>
</html>